{% extends 'storefront/base.html' %}

{% block content %}
<div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="1000">
            <div class="overlay-image"
                style="background-image:url(https://images.pexels.com/photos/6192463/pexels-photo-6192463.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)"
                ;></div>
            <div class="containerslide">
                <div class="carousel-caption text-start">
                    <h1>100% Handmade Products.</h1>
                    <p>All our products are handmade with care and undergo rigourous quality control before shipping.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Shop Now</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item" data-interval="200">
            <div class="overlay-image"
                style="background-image:url(https://images.pexels.com/photos/6192561/pexels-photo-6192561.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)"
                ;></div>
            <div class="containerslide">
                <div class="carousel-caption">
                    <h1>Clothes adapted your unique tastes</h1>
                    <p>We have a wide collection of products for men, women and kids. Browse our collection to see more.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Browse Collection</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item" data-interval="500">
            <div class="overlay-image"
                style="background-image:url(https://images.pexels.com/photos/6190987/pexels-photo-6190987.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500)"
                ;></div>

            <div class="containerslide">
                <div class="carousel-caption text-end">
                    <h1>Complete customer satisfaction is what we aim for.</h1>
                    <p>We are a luxury fashion house, with customer satisfaction as our hallmark. 
                        We use the best materials available and make sure our products meet expectations.
                    </p>
                    <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<section class="section-products">
    <div class="product-container">
        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6">
                <div class="header">
                    <h3>Arrivals</h3>
                    <h2>Latest Products</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Single Product -->
            {% for product in products %}
            <div class="col-md-6 col-lg-4 col-xl-3">
                <!-- <img class="thumbnail" src="{{product.imageURL}}" alt="product image"> -->
                <div id="product-1" class="single-product">
                    <div class="part-1">
                        <img src="{{product.imageURL}}" alt="product image" class="img-responsive img-fluid">
                        <ul>
                            <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                            <li><a href="#"><i class="fas fa-expand"></i></a></li>
                        </ul>
                    </div>
                    <div class="part-2">
                        <h3 class="product-title">{{product.name}}</h3>
                        <h4 class="product-price">MAD {{product.price|floatformat:2}}</h4>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}